include mixins.jade

doctype
html(lang="en")

head
    title #{websiteTitle}
    link(rel='stylesheet', href='/stylesheets/style.css')

body

  +bar().barOne

    div.headerPanel
      div.headerContainer

        div.title
          img(src= "images/elsea.png")
          // h1 #{websiteName}

        nav
          +list(links).menuParent

     div.sliderPanel
      +slider().mainSlider

        +slide().slide_xshot
          img(src= "images/xshot.png")
          div.group
            div.title
              h2 xshot
            div.download
              p download

        //- +slide().slide_xshot
        //-   img(src= "images/xshot.png")
        //-   div.group
        //-     div.title
        //-       h2 xshot
        //-     div.download
        //-       p download

  +sub-bar().barTwo

     div.bioContainer

      +title("I'm Connor Elsea", subtitle)

      div.bottom

        div.paragraph
          p #{bio}

        div.skills
          +skillList(skills)

      +tinyButton("/", "More Information...")

  +sub-bar().barThree

    +title("Services", "Available for Hire")

    +iconRow()
      +icon("images/icons/heart.png", "Design",   "/services/design")
      +icon("images/icons/gear.png",  "Software", "/services/software")
      +icon("images/icons/web.png",   "Web",      "/services/web")
      +icon("images/icons/more.png",  "more",     "/services")

  +sub-bar().barFour

    +title("Clients", "Our Happy Customers")

    +iconRow()
      +clientIcon("images/clients/bw.png")

  +sub-bar().barFive

    +title("Contact", "Ask Us Anything")