include mixins.jade

doctype
html(lang="en")

head
    title #{websiteTitle}
    link(rel='stylesheet', href='/stylesheets/style.css')

body

  +bar().barOne

    div.headerPanel
      div.headerContainer

        div.title
          img(src= "images/elsea.png")
          // h1 #{websiteName}

        nav
          +list(links).menuParent

     div.sliderPanel
      +slider().mainSlider
        +slide().slide_xshot
          img(src= "images/xshot.png")
          div.group
            div.title
              h2 xshot
            div.download
              p download

  +bar().barTwo

     div.bioContainer

      +title("I'm Connor Elsea", subtitle)

      div.bottom

        div.paragraph
          p #{bio}

        div.skills
          +skillList(skills)