include mixins.jade

doctype
html(lang="en")

head
    title #{websiteTitle}
    link(rel='stylesheet', href='/stylesheets/style.css')

body

  +bar().barOne

    div.headerPanel
      div.headerContainer

        div.title
          img(src= "images/elsea.png")
          // h1 #{websiteName}

        nav
          +list(links).menuParent

     div.sliderPanel
      +slider().mainSlider

        +slide().slide_xshot
          img(src= "images/xshot.png")
          div.group
            div.title
              h2 xshot
            div.download
              p download

        //- +slide().slide_xshot
        //-   img(src= "images/xshot.png")
        //-   div.group
        //-     div.title
        //-       h2 xshot
        //-     div.download
        //-       p download

  +sub-bar().barTwo

    div.bioContainer

      +title("I'm Connor Elsea", subtitle)

      div.bottom

        div.paragraph
          p #{bio}

        div.skills
          +skillList(skills)

      +tinyButton("/", "More Information...")

  +sub-bar().barThree

    div.servicesContainer
      
      +title("Services", "AVAILABLE FOR HIRE")

      div.left

        div.paragraph
          p #{services[0].content}

        div.indicators
          each val in services
            svg.svgIndicator
              circle.indicator

        div.phoneContainer
          img.phone(src= "images/iphone.png")

          div.phoneScreen


  +sub-bar().barFour

    +title("Clients", "Our Happy Customers")

    +iconRow()
      +clientIcon("images/clients/bw.png")
      +clientIcon("images/clients/passnote.png")
      +clientIcon("images/clients/postdigital.png")

  +sub-bar().barFive

    +title("Contact", "Ask Us Anything")

    form
      div.label
          div.sec.message
            span Name
          div.sec.input
            input(type="text" name="Name")
      br

      div.label
          div.sec.message
            span Email
          div.sec.input
            input(type="email" name="Email")
      br

      div.label
          div.sec.message
            span.spanArea Message
          div.sec.input
            textarea(name="TextArea")
      br

      div.label
          div.sec.message
            span.spanArea 
          div.sec.submit
            input(type="submit" name="Submit")
      br