verticalCenter()
  position relative
  top 50%
  transform translateY(50%)
  
height(x)
	height x
	min-height x
	max-height x
	
width(x)
	width x
	min-width x
	max-width x
	
paddingVertical(x)
	padding-top x
	padding-bottom x
	
paddingHorizontal(x)
	padding-left x
	padding-right x

animationDetails()
  animation-timing-function ease
  animation-duration 3s
  animation-delay .3s
  animation-fill-mode forwards
  
standardPadding()
  paddingHorizontal(60px)
  paddingVertical(100px)