/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Fonts
 */
 
@font-face
  font-family Helvetica
  font-weight light
  src url("../../fonts/light.otf") format("opentype")
  
@font-face
  font-family Helvetica
  font-weight bold
  src url("../../fonts/bold.otf") format("opentype")

/*
 * Import
 */
 
@import "mixins.styl"

/*
 * Colors
 */

dark-red   = #800000
light-red  = #FFB2B2

bg-grey    = #eeeeee

light-blue = #849bd4
third-blue = #385397

/*
 * Bar sliding animations present in the
 * biography section in the skill list.
 */
@keyframes bar-slide-hundred
  from
    width(0)
  to
    width(100%)

@keyframes bar-slide-ninety
  from
    width(0)
  to
    width(85%)

@keyframes bar-slide-eighty
  from
    width(0)
  to
    width(70%)

/*
 * Button animations throughout the website.
 */
@keyframes download-button-fade
  from
    background-color white
    color third-blue
  to
    background-color third-blue
    color white

/*
 * Generalized bars
 */
 
.bar
  width 100%
  
  .container
    margin 0 auto
    width  980px



/*
 * Style the navigation bar
 */

nav
  ul
    li
      display inline-block
      
/*
 * First bar
 */
 .barOne
    padding-top 12px
    background-color bg-grey
    font-family Helvetica
   
    /*
     * Header Panel consists of the
     * title and the navigation.
     */
    .headerPanel
      font-family sans-serif
      color third-blue
      
      .headerContainer
        height(30px)
        clearfix()
     
        .title
          font-family Helvetica
          font-size 4em
          font-weight bold
          float left
          letter-spacing -.04em
          
          img
            width(250px)
        
        /*
         * The navigation and its elements
         */
        nav
          margin-top 20px
          float right
          
          ul li
            font-family Helvetica
            font-size 1.3em
            font-weight light
            padding-left 40px
            padding-top 10px
    
    /*
     * The slider panel and the slides.
     * Will think of ways to make this
     * more dynamic in the future.
     */
    .sliderPanel
      padding-top 120px
      padding-bottom 160px
      
      .slide_xshot
        clearfix()
        
        img
          padding-left 50px
          
        .group
            width(300px)
            float right
            verticalCenter()
          
          .title
            
            h2
              font-size 7em
              font-family Helvetica
              font-weight light
              color third-blue
              text-align center
              letter-spacing -.04em
          
          .download
            width(140px)
            height(25px)
            padding 15px
            margin 0 auto
            margin-top 20px
            cursor: pointer

            color third-blue
            border 1px solid third-blue
            border-radius 5px
            
            transition: all 0.3s ease-in-out
            
            p
              font-size 1.5em
              font-family Helvetica
              font-weight light
              text-align center
            
          .download:hover
            background-color third-blue
            color white
            
            


/*
 * Bar two contains the portfolio
 * and skill-based information.
 */
.barTwo
  background-color third-blue
  
  .bioContainer
    paddingHorizontal(60px)
    paddingVertical(100px)

    .title
      font-family Helvetica
      
      .sub
        padding-bottom 22px

      h1
        color white
        font-size 3em
        font-weight bold
        
      h3
        color light-blue
        font-size 1.05em
        font-weight bold
        text-transform uppercase
        letter-spacing .2em
        
    .bottom
      clearfix()
      font-family Helvetica
      
      .paragraph
        float left
        width 50%
        
        color white
        font-size 1.3em
        font-weight light
        line-height 1.5em
        
      .skills
        float right
        
        .skillGroup
          display block
          padding-bottom 10px
          clearfix()

          .languageContainer
            width(100px)
            padding-right 30px
            float left
            clearfix()

            h5
              float right
              font-family Helvetica
              font-weight bold
              color white
            
          .levelContainer
            float right
            margin-top 5px
            width(200px)
            height(5px)
            
            .levelInner
              float left
              height(5px)
              background-color light-blue
            
            .hundred
              animation-name bar-slide-hundred
              animationDetails()
              
            .ninety
              animation-name bar-slide-ninety
              animationDetails()
              
            .eighty
              animation-name bar-slide-eighty
              animationDetails()
              


/*
 * Style error messages
 */
 
.error
  display inline
  padding 10px
  color dark-red
  font-family sans-serif
  background-color light-red
  border 1px solid dark-red
  border-radius 5px
  width 200px