/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Fonts
 */
 
@font-face
  font-family Helvetica
  font-weight light
  src url("../../fonts/light.otf") format("opentype")
  
@font-face
  font-family Helvetica
  font-weight bold
  src url("../../fonts/bold.otf") format("opentype")

/*
 * Import
 */
 
@import "mixins.styl"

/*
 * Colors
 */

dark-red   = #800000
light-red  = #FFB2B2

bg-grey    = #eeeeee

light-blue = #849bd4
third-blue = #385397

/*
 * Generalized bars
 */
 
.bar
  width 100%
  
  .container
    margin 0 auto
    width  980px
  

/*
 * Style the navigation bar
 */

nav
  ul
    li
      display inline-block
      
/*
 * First bar
 */
 .barOne
    padding-top 20px
    background-color bg-grey
    font-family Helvetica
   
    /*
     * Header Panel consists of the
     * title and the navigation.
     */
    .headerPanel
      font-family sans-serif
      color third-blue
      clearfix()
     
      .title
        font-family Helvetica
        font-size 4em
        font-weight bold
        float left
      
      /*
       * The navigation and its elements
       */
      nav
        float right
        
        ul li
          font-family Helvetica
          font-size 1.3em
          font-weight light
          padding-left 40px
          padding-top 10px
    
    /*
     * The slider panel and the slides.
     * Will think of ways to make this
     * more dynamic in the future.
     */
    .sliderPanel
      padding-top 80px
      padding-bottom 120px
      
      .slide_xshot
        img
          padding-left 50px
        h2
          font-size 7em
          font-family Helvetica
          font-weight light
          color third-blue
          float right
          
          verticalCenter()

.barTwo
  background-color third-blue
  
  .bioContainer
    padding 60px

    .title
      font-family Helvetica
      
      .sub
        padding-bottom 10px

      h1
        color white
        font-size 3em
        font-weight bold
        
      h3
        color light-blue
        font-size 1.05em
        font-weight bold
        text-transform uppercase
        letter-spacing .2em
        
    .bottom
      clearfix()
      font-family Helvetica
      
      .paragraph
        float left
        width 50%
        
        color white
        font-size 1.3em
        font-weight light
        line-height 1.5em
        
      .skills
        float right
      
/*
 * Style error messages
 */
 
.error
  display inline
  padding 10px
  color dark-red
  font-family sans-serif
  background-color light-red
  border 1px solid dark-red
  border-radius 5px
  width 200px